---
layout: default
---

<article>
  <h1>{{ page.title }}</h1>
  <p><small>{{ page.date | date: "%Y年%m月%d日" }}</small></p>
  {{ content }}

  <!-- AdSense広告ユニット -->
  <div style="margin-top: 2em; text-align: center;">
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3910332370256182"
         data-ad-slot="9929907434"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</article>
